In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
file = 'data/model_build_inputs/actual_sequences.json'
df = pd.read_json(file)

In [4]:
df.iloc[0,:10]

RouteID_00143bdd-0a6b-49ec-bb35-36593d303e77    {'AD': 105, 'AF': 47, 'AG': 4, 'BA': 33, 'BE':...
RouteID_0016bc70-cb8d-48b0-aa55-8ee50bdcdb59    {'AC': 36, 'AE': 28, 'AG': 104, 'AN': 94, 'AS'...
RouteID_001948e9-4675-486d-9ec5-912fd8e0770f    {'AA': 58, 'AD': 94, 'AJ': 41, 'AP': 124, 'AR'...
RouteID_001b4ee3-c4f2-467f-932b-c85524d1021f    {'AB': 122, 'AC': 39, 'AG': 27, 'AI': 16, 'AU'...
RouteID_0021a2aa-780f-460d-b09a-f301709e2523    {'AA': 43, 'AB': 54, 'AF': 72, 'AG': 31, 'AI':...
RouteID_0036cf37-1c93-48f8-b337-3dd6d1a195d8    {'AI': 108, 'AL': 96, 'AQ': 21, 'AX': 88, 'BD'...
RouteID_00437423-5a8f-4fac-8efa-85264f0a3944    {'AA': 19, 'AH': 97, 'AJ': 35, 'AN': 37, 'AQ':...
RouteID_00573a3d-b909-42ee-8a99-c6474309d96b    {'AB': 7, 'AG': 62, 'AL': 17, 'AO': 35, 'AQ': ...
RouteID_00575a14-7d19-4291-8853-8f7095ed1bc6    {'AB': 53, 'AD': 21, 'AG': 104, 'AP': 86, 'AU'...
RouteID_00575ca4-8a63-49d2-96c8-9b347be5ba6c    {'AG': 3, 'AR': 18, 'AW': 35, 'BC': 53, 'BM': ...
Name: actual, dtype: object

## Importing the route data

In [63]:
# Get Directory
BASE_DIR = "D:/Code/RoutingChallenge/routing-challenge-az"

training_routes_path=os.path.join(BASE_DIR, 'data/model_build_inputs/route_data.json')

# Read route data
print('Reading Input Data')
df_route_data = pd.read_json(training_routes_path).T

Reading Input Data

In [64]:
df_route_data.shape

(6112, 6)

In [65]:
df_route_data.head()

,station_code,date_YYYY_MM_DD,departure_time_utc,executor_capacity_cm3,route_score,stops
RouteID_00143bdd-0a6b-49ec-bb35-36593d303e77,DLA3,2018-07-27,16:02:10,3313071.0,High,"{'AD': {'lat': 34.099611, 'lng': -118.283062, ..."
RouteID_0016bc70-cb8d-48b0-aa55-8ee50bdcdb59,DSE4,2018-07-28,15:44:41,4247527.0,High,"{'AC': {'lat': 47.689446, 'lng': -122.296071, ..."
RouteID_001948e9-4675-486d-9ec5-912fd8e0770f,DSE5,2018-08-18,15:32:04,4247527.0,High,"{'AA': {'lat': 47.268001, 'lng': -122.5079, 't..."
RouteID_001b4ee3-c4f2-467f-932b-c85524d1021f,DLA9,2018-08-15,15:09:38,3313071.0,High,"{'AB': {'lat': 33.823076, 'lng': -118.058727, ..."
RouteID_0021a2aa-780f-460d-b09a-f301709e2523,DLA7,2018-08-05,14:23:26,3313071.0,High,"{'AA': {'lat': 33.84364, 'lng': -117.773651, '..."

In [66]:
df_route_data.isnull().sum()

station_code             0
date_YYYY_MM_DD          0
departure_time_utc       0
executor_capacity_cm3    0
route_score              0
stops                    0
dtype: int64

## Separate year, month and day and convert date to datetime object

In [67]:
df_route_data['departure_datetime'] = pd.to_datetime(df_route_data['date_YYYY_MM_DD']+\
                    df_route_data['departure_time_utc'],format="%Y-%m-%d%H:%M:%S")

df_route_data['year'] = df_route_data['departure_datetime'].apply(lambda d:d.year)
df_route_data['month'] = df_route_data['departure_datetime'].apply(lambda d:d.month)
df_route_data['day'] = df_route_data['departure_datetime'].apply(lambda d:d.day)
df_route_data['hour'] = df_route_data['departure_datetime'].apply(lambda d:d.hour)
df_route_data['minute'] = df_route_data['departure_datetime'].apply(lambda d:d.minute)
df_route_data['second'] = df_route_data['departure_datetime'].apply(lambda d:d.second)

In [68]:
df_route_data.head()

,station_code,date_YYYY_MM_DD,departure_time_utc,executor_capacity_cm3,route_score,stops,departure_datetime,year,month,day,hour,minute,second
RouteID_00143bdd-0a6b-49ec-bb35-36593d303e77,DLA3,2018-07-27,16:02:10,3313071.0,High,"{'AD': {'lat': 34.099611, 'lng': -118.283062, ...",2018-07-27 16:02:10,2018,7,27,16,2,10
RouteID_0016bc70-cb8d-48b0-aa55-8ee50bdcdb59,DSE4,2018-07-28,15:44:41,4247527.0,High,"{'AC': {'lat': 47.689446, 'lng': -122.296071, ...",2018-07-28 15:44:41,2018,7,28,15,44,41
RouteID_001948e9-4675-486d-9ec5-912fd8e0770f,DSE5,2018-08-18,15:32:04,4247527.0,High,"{'AA': {'lat': 47.268001, 'lng': -122.5079, 't...",2018-08-18 15:32:04,2018,8,18,15,32,4
RouteID_001b4ee3-c4f2-467f-932b-c85524d1021f,DLA9,2018-08-15,15:09:38,3313071.0,High,"{'AB': {'lat': 33.823076, 'lng': -118.058727, ...",2018-08-15 15:09:38,2018,8,15,15,9,38
RouteID_0021a2aa-780f-460d-b09a-f301709e2523,DLA7,2018-08-05,14:23:26,3313071.0,High,"{'AA': {'lat': 33.84364, 'lng': -117.773651, '...",2018-08-05 14:23:26,2018,8,5,14,23,26

In [69]:
df_route_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6112 entries, RouteID_00143bdd-0a6b-49ec-bb35-36593d303e77 to RouteID_fffd257c-3041-4736-be7a-5efea8af1173
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   station_code           6112 non-null   object
 1   date_YYYY_MM_DD        6112 non-null   object
 2   departure_time_utc     6112 non-null   object
 3   executor_capacity_cm3  6112 non-null   object
 4   route_score            6112 non-null   object
 5   stops                  6112 non-null   object
 6   departure_datetime     6112 non-null   datetime64[ns]
 7   year                   6112 non-null   int64
 8   month                  6112 non-null   int64
 9   day                    6112 non-null   int64
 10  hour                   6112 non-null   int64
 11  minute                 6112 non-null   int64
 12  second                 6112 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 797.5+ KB

In [72]:
df_route_data['year'].unique(),df_route_data['month'].unique(),\
df_route_data['day'].unique()

(array([2018], dtype=int64),
 array([7, 8], dtype=int64),
 array([27, 28, 18, 15,  5,  2,  1, 13,  4,  7, 31,  8,  3, 24, 21, 14, 10,
        17, 26, 29, 23,  6, 20, 25, 12, 16, 30, 22, 11,  9, 19],
       dtype=int64))

In [73]:
days_set = set(df_route_data['day'].unique())

In [75]:
len(days_set)

31

In [80]:
unique_days = df_route_data.groupby('month')['day'].unique()

In [84]:
unique_days=unique_days.apply(lambda x:set(x))

In [89]:
print(unique_days[7])
print(unique_days[8])

{19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26}

### We can see that the data was gathered from 19-07-2018 to 26-08-2018